[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glfw3webgpu"]
	path = deps/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
[submodule "deps/syphon"]
	path = deps/syphon
	url = https://github.com/seethroughlab/Syphon-Framework.git
