[submodule "external/DiligentEngine"]
	path = external/DiligentEngine
	url = https://github.com/DiligentGraphics/DiligentEngine.git
[submodule "external/glTF-Sample-Models"]
	path = external/glTF-Sample-Models
	url = https://github.com/KhronosGroup/glTF-Sample-Models.git
