tests/assets/videos/* filter=lfs diff=lfs merge=lfs -text
tests/assets/sample_packs/**/* filter=lfs diff=lfs merge=lfs -text
tests/assets/meshes/*.glb filter=lfs diff=lfs merge=lfs -text
tests/assets/hdris/*.hdr filter=lfs diff=lfs merge=lfs -text
tests/assets/materials/**/*.jpg filter=lfs diff=lfs merge=lfs -text
tests/assets/materials/**/*.png filter=lfs diff=lfs merge=lfs -text
