    <article class="guide">
      <a class="back-link" href="/tutorials/">&larr; All tutorials</a>
      <div class="guide-head">
        <p class="guide-kicker"><b>$num</b> &middot; $verb</p>
        <h1 class="page-title">$title</h1>
        <p class="guide-goal">$goal</p>
        <p class="guide-meta"><span>&#9201; $time</span><span>Needs: $prereqs</span></p>
      </div>
      <div class="guide-media">
        $media
      </div>
      <ol class="guide-steps">
$steps
      </ol>
      <div class="guide-recap">
        <p>$recap</p>
      </div>
      <div class="guide-next">
        $next
      </div>
    </article>
$player_js
